---
layout: default
title: debug
pagetype: scene
css: img.wide{max-height:100vh; margin:0 auto; padding:0;} figure:nth-of-type(2){margin-bottom:-.5em;}
---
<figure><picture><source media="(max-width:640px)" srcset="img/00-640.png"/><img src="img/00-full.png" alt="" class="wide"/></picture>
	<figcaption class="x"><p>[Kade, frowning and holding an art tablet, is at the computer in a similar position to Rudy in the opening shot.]</p></figcaption>
</figure>
<hr/>
{%include panel.html 0="01" x="<p>[An art program is open; Kade has drawn nothing. The game’s assets are also onscreen on the side.]</p>"%}
{%include panel.html 0="02" x="<p>[Kade’s phone vibrates, startling him; Valerie’s on the other end.]</p><p>Val: Say, where was that classroom again? I’m pretty sure I’ve been up and down this whole hallway at <em>least</em> a couple times, and not a single door opens!</p>"%}
{%include panel.html 0="03" x="<p>[Val is indeed in a long hallway, not unlike one shown in the site assets.]</p><p>Val [tugging the door]: Seriously, why add so many useless doors.</p>"%}
{%include panel.html 0="04" x="<p>[Kade turns away from the screen.] Kade: Okay, so, check another hallway.</p><p>Val: Been there, done that. What kind of classroom was it, again?"%}
{%include panel.html 0="05" x="<p>Kade: You’ll know it when you find it.</p><p>[Val has doubts. But after a moment, with a smile:] All right!</p>"%}
{%include panel.html 0="06" x="<p>Val: I trust you~</p><p>[Kade applies his face directly to the desk.]</p>"%}
{%include nav.html next="2"%}