---
layout: default
title: debug
pagetype: scene
css: .scene{background:#000;} .fade{background:linear-gradient(#fff,#000); padding:15em 0 15em;} .fade img{margin-bottom:100em;} .scene nav{margin-top:-5em;}
---
<div class="fade">{%include panel.html 0="109" x="<p>Returning to the present day, Kade decides not to reflect. <em>Not now.</em></p>"%}</div>
<figure><picture><img src="../../0/day13/ifuckedup.png" alt=""/></picture>
	<figcaption class="x"><p>Long pause; background fades to black.</p><p>Kade stands in front of a door, looking up, holding a paper close.</p></figcaption>
</figure>
{%include nav.html next="11" color="w"%}