---
layout: default
title: debug
pagetype: scene
css: .wide img{padding:0;} @media only screen and (min-width:1280px){.wide{background:url(../../0/game/assets/bg-house-bedroom.png); background-size:50% auto; background-position:top right; background-repeat:no-repeat; background-color:#000;} .wide img{border:8px solid #000;}}
---
{%include panel.html 0="110" x="<p>Back to <i>debug</i>. Kade opens the door. “Rudy?”</p>"%}
<figure class="wide"><picture><source media="(min-width:1280px)" srcset="img/111-full.png"/><source media="(max-width:640px)" srcset="img/111-640.png"/><img src="img/111-1280.png" alt=""/></picture>
	<figcaption class="x"><p>Zooming out, the siblings’ room is the most defined area yet. Hasn’t changed a bit, except that Rudy hung his hat on the desk chair, and the table itself is cluttered.</p><p>As Kade walks in, Rudy’s on the beanbag playing video games, equipped with headphones.</p></figcaption>
</figure>
<figure><picture><source media="(min-width:1390px)" srcset="img/112-full.png"/><source media="(max-width:640px)" srcset="img/112-640.png"/><img src="img/112-1280.png" alt=""/></picture>
	<figcaption class="x"><p>In a layout parallel to sibling comix: Kade notices Rudy is engrossed. She sits on the adjacent beanbag and reaches out, waving by his face; earth to Rudy?</p><p>Then she gets an idea.</p><p>Kade: “What’s up, bro.” Rudy screams.</p></figcaption>
</figure>
{%include panel.html 0="113" x="<p>Kade does a smug anime chuckle to herself. “You weren’t kidding about that ‘immersiveness.’”</p><p>Rudy lifts a headphone; he’s annoyed but smiling, because his sibling is <em>back</em>.</p><p>Rudy: <em>Geez,</em> in my defense I was… huh?</p>"%}
{%include panel.html 0="114" x="<p>Rudy looks disoriented. Kade, however, doesn’t notice; she’s amused, and kicks back in her own beanbag.</p><p>Kade: So, uh… what’s this about ~the reward~?"%}
{%include panel.html 0="115" x="<p>Kade, continued: If you need me to find it for you, I’m not gonna give it awa—[Rudy throws another pair of headphones at Kade’s face.]</p><p>Rudy: <em>Screw it!</em></p>"%}
{%include panel.html 0="116" x="<p>Rudy: No time for talk! We’re surrounded!</p>"%}
{%include panel.html 0="117" x="<p>Surrounded by what? Kade doesn’t see anything unusual. But Rudy’s already leaning in again, entranced.</p>"%}
{%include panel.html 0="118"%}
{%include panel.html 0="119" x="<p>All right, fine. Kade puts the headphones on and plugs in.</p>"%}
{%include nav.html next="../2-debug"%}