---
layout: default
title: debug
pagetype: scene
css: figure:first-child{margin:10em 0; margin:25vh 0;}
---
{%include panel.html 0="007" x="<p>Val: So, how’d it go?</p>"%}
{%include panel.html 0="008" x="<p>Kade returns to the store, crumpled paper in hand. It’s a list of everything the world is missing.</p><p>Kade: I have a billion and <em>one</em> things to add now.</em></p><p>Val: Kade, please. You were supposed to <em>clear</em> your mind, not keep dwelling on it.</p>"%}
{%include panel.html 0="009" x="<p>Kade returns to the table with the computer, slouching back.</p><p>Kade: Yeah? And what’ve <em>you</em> been up to?</p><p>Val: Double-checking all the rooms!</p><p>Kade, irritated: Well, there you go—</p><p>Val: Can you at <em>least</em> tell me what subject it’s a classroom <em>for</em>?"%}
{%include panel.html 0="010" x="<p>Val: Not that I can really tell from the outside, but—</p><p>Kade: <em>Nothing.</em></p>"%}
{%include panel.html 0="011" x="<p>Val: You mean it’s a generic office, or…?</p><p>Kade: There is no subject because there is no. classroom.</p><p>The transparency of the setting frames Kade’s defeat.</p>"%}
{%include panel.html 0="012" x="<p>Val stops in her tracks, eyebrows furrowed.</p><p>Kade: I… I haven’t drawn it. I haven’t drawn <em>shit</em> all day, okay?</p><p>Val: So… I’m on a wild void chase again.</p><p>Kade: I mean, I <em>will</em>—<em>want to</em> add something, don’t get me wrong—</p><p>Val: You’re overthinking it?</p>"%}
{%include panel.html 0="013" x="<p>Kade: Well, geez, it’s only the first new thing in the <em>entire world</em>. No pressure!</p><p>Val sighs melodramatically.</p><p>Val: Why don’t you make it awful?</p><p>As far as Kade’s concerned, Val might as well have said the world just imploded.</p>"%}
{%include nav.html next="3"%}