---
layout: default
title: debug
pagetype: blank
css: img{margin:1em 0;} .screenshot{margin:3em 0 1em;} .blank nav{margin:0;} .blank{max-width:100%; padding:0;} .blankwrap{max-width:640px; margin:0 auto;} .scene{padding:1em 0 0;} .scene img{margin:0 auto;} .scene nav{margin:0 auto; padding-top:2em;} @media only screen and (min-width:640px){.blankwrap{padding:.5rem 0;} .scene{padding:0; padding-top:1em;} .scene nav{padding-bottom:1rem;}}
---
<div class="blankwrap">
	<img src="img/075.png" alt="" class="screenshot"/><div class="x"><p>While Rudy starts blasting away, focus shifts to Cyrus and Val.</p><p>Cyrus: Say, Valerie—</p><p>Val: Hm?</p></div>
	<img src="img/076.png" alt=""/><div class="x"><p>Cyrus: What were you doing before you got here?</p></div>
	<img src="img/077.png" alt=""/><div class="x"><p>Val: Oh, just helping make sure file editing still works. without pause: Hey, Rudy! Want me to distract the bugs again?</p></div>
	<img src="img/078.png" alt=""/><div class="x"><p>Rudy, not paying attention: <em>I swear to god! We’re so close!</em></p></div>
	<img src="img/079.png" alt=""/><img src="img/080.png" alt=""/><div class="x"><p>Val: If you want bait, I’m right here—</p><p>Cyrus, interjecting: Were you traveling while Kade stayed in the shop? Using the phone to stay in touch?</p></div>
	<img src="img/081.png" alt=""/><div class="x"><p>Val, irritated: You know, if you’re so curious, you could’a stuck around to help—</p></div>
	<img src="img/082.png" alt=""/><div class="x"><p>Rudy: <em>That’s it!</em> Cyrus, you’re a genius!</p></div>
	<img src="img/083.png" alt=""/><div class="x"><p>Rudy spins around, pointing at Val; she’s sandwiched between him and Cyrus.</p><p>Rudy: Val, gimme your phone.</p></div>
	<img src="img/084.png" alt=""/><div class="x"><p>Val: What? Hold on, why—
	Rudy: Check your inventory or I’ll do it for you.</p></div>
	<img src="img/085.png" alt=""/><div class="x"><p>Val: Wait, since whe—</p><p>Cyrus, thinking: The person who gave the bugs a story might know how to get rid of them.</p></div>
	<img src="img/086.png" alt=""/><div class="x"><p>Rudy: <em>And</em> can help us find The Reward.</p></div>
	<img src="img/087.png" alt=""/><div class="x"><p>Val: …You mean Kade?</p></div>
	<img src="img/088.png" alt=""/><div class="x"><p>Rudy: Who else?</p></div>
	<img src="img/089.png" alt=""/><div class="x"><p>Val: —Oh! Well…</p></div>
	<img src="img/090.png" alt="" class="screenshot"/><div class="x"><p>She takes out the phone and stares down at it.</p></div>
	<img src="img/091.png" alt=""/><div class="x"><p>Cyrus: …</p></div>
	<img src="img/092.png" alt=""/><div class="x"><p>Rudy: …</p></div>
	<img src="img/093.png" alt=""/><div class="x"><p>Val: …</p></div>
	<img src="img/094.png" alt=""/><div class="x"><p>Rudy: What’s the holdup.</p></div>
	<img src="img/095.png" alt=""/><div class="x"><p>Val: Hm, I told her I wouldn’t—</p></div>
</div>
<div class="scene">
	{%include panel.html 0="096" x="<p>The page abruptly turns white, cutting to a closeup panel of Kade’s phone vibrating.</p>"%}
	{%include nav.html next="9"%}
</div>