---
layout: default
title: day2 bonus
pagetype: scene
css: .void{background:#000;} .top img{margin:0 auto;}
---
<figure><picture class="wide"><source media="(max-width:640px)" srcset="img/01-640.png"/><source media="(min-width:1280px)" srcset="img/01-full.png"/><img src="img/01-1280.png" alt=""/></picture>
	<figcaption class="x"><p>Kade drags Val outside, down the street from where the game background cuts off.</p></figcaption>
</figure>
<div class="void top">{%include panel.html 0="02" x="<p>Val peers through a boarded-up window, framed by a dark void.</p>"%}</div>
{%include panel.html 0="03" x="<p>Kade stops not far away.</p>"%}
{%include panel.html 0="04" x="<p>Kade: “What’s your mom’s name?” Seriously?</p>"%}
{%include panel.html 0="05" x="<p>Val, shrugging: It’s a valid question! I wasn’t asking for a <em>maiden</em> name.</p><p>Kade, frustrated: You <em>know</em> Rudy’s not gonna react well to all that prodding.</p><p>Val: I do?</p>"%}
{%include panel.html 0="06" x="<p>Kade is dumbfounded.</p><p>Kade: See, this is what I’m talking about. What’s gotten into you lately? Is it something about $joker?</p>"%}
{%include panel.html 0="07" x="<p>Kade: S/He’s been feeling pretty awkward about this, to say the least.</p><p>Val: Oh, no, new person’s fine! Better than fine, actually. I’d love to get to know them more.</p>"%}
{%include panel.html 0="08" x="<p>Kade, matter-of-factly: You do <em>not</em> have a thing for him/her.</p><p>Val, amused: All right, mind-reader, what’s the point of this talk? Since you know me <em>so</em> well.</p>"%}
{%include panel.html 0="09" x="<p>Kade: That’s the problem. I know you’ve been stressed about <em>something</em> the past couple days and I have no idea what.</p><p>Kade, hesitantly: And…</p>"%}
<div class="void">{%include panel.html 0="10" x="<p>…even though we’re not <em>super</em> close, whatever’s on your mind…</p>"%}</div>
{%include panel.html 0="11" x="<p>I’m here if you need to talk, you know?</p><p>Val is genuinely surprised.</p>"%}
{%include nav.html next="2"%}