---
layout: default
title: day2 bonus
pagetype: scene
---
{%include panel.html 0="12" x="<p>However, Kade’s concern bounces right off.</p><p>Val, dismissively: Aww, aren’t you a sweetheart. This is part of your “friends with everyone” gimmick, isn’t it?</p><p>Kade, grumbling and facepalming: <em>Fucking hell.</em></p><p>Val: What’d I say?</p>"%}
{%include panel.html 0="13" x="<p>Kade: Are you doing this intentionally?</p><p>Val: Doing what?</p><p>Kade: Antagonizing everyone.</p>"%}
{%include panel.html 0="14" x="<p>Val bursts into laughter, much to Kade’s disturbance.</p><p>Kade: A-<em>Are</em> you? I thought you weren’t that kind of person, but—</p><p>Val: <em>Kade.</em> Kade, please, you’re killing me.</p>"%}
{%include panel.html 0="15" x="<p>Val: What a nice thought.</p><p>She wipes away a nonexistent tear and pats Kade on the shoulder.</p><p>Kade sidesteps, miffed.</p>"%}
{%include panel.html 0="16" x="<p>Val turns away.</p><p>Val: Tell you what, I’ll be honest with ya. But you’re gonna think I’ve lost it.</p><p>Kade, defensively: I already think you’ve lost it.</p>"%}
{%include panel.html 0="17" x="<p>Val, teasingly: Thanks. See, we’re off to a <em>great</em> start!</p>"%}
{%include nav.html next="3"%}