---
layout: default
title: day2 bonus
pagetype: scene
css: img.up{margin-top:-15% !important;} @media only screen and (min-width:1296px){img.up {margin-top:-15rem !important;}} img.last{margin:0 auto; max-height:100vh;} nav{margin-top:-2.75rem !important; margin-bottom:0 !important; padding-bottom:0 !important;}
---
{%include panel.html 0="18" x="<p>Val spins Kade away from the buildings.</p>"%}
{%include panel.html 0="19" x="<p>Val: Notice anything?</p>"%}
<figure><picture class="wide"><source media="(min-width:1280px)" srcset="img/20-full.png" alt=""/><source media="(max-width:641px)" srcset="img/20-640.png" alt=""/><img src="img/20-1280.png" alt=""/></picture><figcaption class="x"><p>They stand before an empty parking lot.</p></figcaption></figure>
<figure><picture><source media="(min-width:640px)" srcset="img/21-1280.png" alt=""/><img src="img/21-640.png" alt="" class="up"/></picture><figcaption class="x"><p>Kade looks up and down the sidewalk.</p><p>Kade: …No?</p><p>Val: <em>Exactly.</em> No cars, no signs, no people—</p></figcaption></figure>
{%include panel.html 0="22" x="<p>—just the bare minimum you’d need to convey the impression of a city.</p><p>Kade: Well, yeah, it’s deadsville around here. That’s kinda why I like it.</p><p>Val: But no trace of life <em>at all</em>? Not even grass or gum in the pavement?</p>"%}
{%include panel.html 0="23" x="<p>Kade, unamused, mildly worried: Valerie, seriously. What’re you getting at.</p>"%}
{%include panel.html 0="24" x="<p>Val pauses, facing away from Kade, serious for a moment. Inhales.</p>"%}
<figure><picture><source media="(max-width:640px)" srcset="img/25-640.png" alt=""/><img src="img/25-full.png" alt="" class="last"/></picture><figcaption class="x"><p>Then she turns around. Making a little “jazz hands” motion, she says with a big grin: This is <em>all</em> a game!</p></figcaption></figure>
<hr/>
<figure><picture><source media="(max-width:640px)" srcset="img/26-640.png" alt=""/><img src="img/26-full.png" alt="" class="last" style="margin-bottom:-1px;"/></picture><figcaption class="x"><p>Kade stares at her. What the fuck.</p></figcaption></figure>
{%include nav.html next="../../../../2-debug/1"%}