---
layout: default
title: bonus/art
pagetype: dev blank
css: body{background:#707070 !important; color:#fff !important;} ::selection{background:rgba(0,0,0,.25);} h2{margin:1em 0 .25em 0 !important;} main a{color:inherit !important;} main a:hover,main a:active,main a:focus{opacity:.5;} figure,.thumbnails{line-height:0;} .thumbnails a{border:0 !important; font-size:0;} .thumbnails a:hover,.thumbnails a:active,.thumbnails a:focus{opacity:.5;}
---
<header>
	<h1><a href="{%include url.html%}" class="index">404</a>/<a href="{%include url.html%}/bonus" class="index">bonus</a>/art</h1>
	<p>Miscellaneous drawings of dubious canonicity.<br/>
	Images open in new tabs. Captions are in the alt text, for now.</p>
</header>

<main>
	<h2>2018</h2>
	<div class="thumbnails">
		{%include art.html
			date="2018-12-25"
			file="png"
			caption="Sketch of the character who would become Rudy."
		%}{%include art.html
			date="2018-12-26"
			file="png"
			caption="Initial outfit design sketches."
		%}{%include art.html
			date="2018-12-28-lineup"
			file="png"
			caption="Initial outfit designs, now with values & color."
		%}{%include art.html
			date="2018-12-28-cards"
			file="png"
			caption="Cards."
		%}{%include art.html
			date="2018-12-27-headshots"
			file="png"
			caption="Mugshots based on K.C. Green’s The Anime Club."
		%}{%include art.html
			date="2018-12-28-scene"
			file="png"
			caption="Joke-y version of the day2 Val/Rudy altercation."
		%}
	</div>
	
	<h2><a href="2019.png">2019</a></h2>
	<div class="thumbnails">
		{%include art.html
			date="2019-01-07"
			file="png"
			caption="Fullbody poses."
		%}{%include art.html
			date="2019-01-23"
			file="png"
			caption="Scribbly sketches of upset people."
		%}{%include art.html
			date="2019-01-16"
			file="png"
			caption="Mockup for the game layout."
		%}{%include art.html
			date="2019-01-31"
			file="png"
			caption="Pixel versions of updated designs."
		%}{%include art.html
			date="2019-02-24-glitch"
			file="png"
			caption="Mugshots, now of glitchy people."
		%}{%include art.html
			date="2019-03-02"
			file="png"
			caption="Cyrus scribble."
		%}{%include art.html
			date="2019-04-18"
			file="png"
			caption="Mugshots again, redrawn."
		%}{%include art.html
			date="2019-05-01"
			file="png"
			caption="Uh-oh."
		%}{%include art.html
			date="2019-06-01"
			file="png"
			caption="Technicolor hands."
		%}{%include art.html
			date="2019-07-18"
			file="png"
			caption="First sketches for the menu art."
		%}{%include art.html
			date="2019-07-21"
			file="png"
			caption="Unedited versions of Rudy’s phone, uh, portraits."
		%}{%include art.html
			date="2019-07-30-music"
			file="png"
			caption="Cyrus and their tunes."
		%}{%include art.html
			date="2019-08-15"
			file="png"
			caption="debug climax."
		%}{%include art.html
			date="2019-08-16"
			file="png"
			caption="Tiny moth plush inspired by Maromi from Paranoia Agent."
		%}{%include art.html
			date="2019-08-30"
			file="png"
			caption="Rudy’s “play with me” grin."
		%}{%include art.html
			date="2019-09-14"
			file="png"
			caption="Some Vals having a bad time."
		%}{%include art.html
			date="2019-10-01"
			file="png"
			caption="Everything, anything!"
		%}{%include art.html
			date="2019-10-09"
			file="png"
			caption="First version of the debug teaser."
		%}{%include art.html
			date="2019-11-30-silhouette"
			file="png"
			caption="They could be happier."
		%}{%include art.html
			date="2019-12-15"
			file="png"
			caption="postgame.mdp, an “Anime Club” redraw."
		%}{%include art.html
			date="2019-12-16"
			file="png"
			caption="They could be happier."
		%}
	</div>
	
	<h2>2020</h2>
	<div class="thumbnails">
		{%include art.html
			date="2020-01-15"
			file="png"
			caption="Everything the light touches will be Rudy’s."
		%}{%include art.html
			date="2020-02-06"
			file="png"
			caption="“Blast Doors” is a good Rudy song."
		%}{%include art.html
			date="2020-03-09+10"
			file="png"
			caption="Limited palette sketches."
		%}{%include art.html
			date="2020-04-27-notyou"
			file="png"
			caption="Extremely subtle imagery."
		%}{%include art.html
			date="2020-05-10"
			file="png"
			caption="Silly doodles."
		%}{%include art.html
			date="2020-06"
			file="png"
			caption="Mugshots, debug edition."
		%}{%include art.html
			date="2020-07-09"
			file="png"
			caption="Unedited version of Rudy’s phone sketch.."
		%}{%include art.html
			date="2020-08"
			file="png"
			caption="Based on drawings of kids with flowers by kafkaeskin on tumblr."
		%}{%include art.html
			date="2020-09-06"
			file="png"
			caption="Trickster mode Homestuck (Trickster mode Homestuck). Background lyrics from PhemieC’s “Sweet.”"
		%}{%include art.html
			date="2020-09+10"
			file="png"
			caption="Fullbodies of debug appearances."
		%}{%include art.html
			date="2020-10-05"
			file="png"
			caption="MSPaint Rudy."
		%}{%include art.html
			date="2020-11-27"
			file="png"
			caption="Lineless Kade."
		%}{%include art.html
			date="2020-12-16"
			file="png"
			caption="Slushie night; loosely inspired by a scene from Heathers (1989 film)."
		%}
	</div>
	
	<h2>2021+</h2>
	<p>[TBA]</p>
</main>

<hr style="margin-top:2em;"/>
<footer>&#169; 2018–2021</footer>