*{margin:0; padding:0; box-sizing:border-box; word-wrap:break-word;}
header,section,footer,aside,nav,main,article,figure{display:block;}
body{overflow-x:hidden; background:#000; color:#fff; font-family:Consolas,monospace; line-height:135%;}
::selection{background:rgba(128,128,128,.5);}
a.index{text-decoration:none; color:inherit;} a.index:hover,a.index:focus{opacity:.5;}
img{max-width:100%; height:auto; display:block;}
hr{border:0; background:#000; width:100%; height:.25rem;}
p{margin:.5em 0;}
.x{position:absolute; left:-999px; width:1px; height:1px; top:auto; overflow:hidden;}

nav{text-align:right;} nav a{display:inline-block;} nav a:hover, nav a:focus{opacity:.5;}

.game header{background:#fff; color:#000; padding:.5em 1em;} .game h1{font-size:.85em; font-weight:normal; color:#808080; font-style:italic;}
.game main{max-width:642px; margin:0 auto;} .game img{margin:3rem 0; margin:20vw 0; background:#fff; color:#000;} .game nav img{display:inline; background:0; margin:0 0 1.5rem; padding-right:1.5em;}
.j{font-style:italic;}
.script{background:#fff; color:#000; padding:.5rem 1.5rem; margin:1.5rem 1rem;} .script  blockquote{margin-left:2em;} .code{color:#808080;}

.scene{background:#fff; color:#000;} .scene img{display:block; margin:.5rem auto; margin:5vw auto; padding:0 .75rem;} .scene nav{max-width:1280px; margin:0 auto; padding-bottom:.5rem; padding-bottom:5vw;} .scene nav img{display:inline; margin:0;}

.blank{max-width:640px; margin:0 auto; padding:.5rem 1rem;} .blank a:focus{outline:#fff 1px dotted;} .blank nav{margin-top:3rem;} .blank nav img{display:inline;}

.archive{padding:1rem;}
.archive header{font-size:1.5em; margin:2em 0; text-align:center;} .archive header a{color:#fff; text-decoration:none;} .archive a:hover, .archive a:focus{color:#808080;}
.archive main{line-height:0; margin:1em 0 2em; text-align:center;} .archive img{display:inline;}
.archive main a{display:inline-block;} .archive main a:hover,.archive main a:focus{outline:0; opacity:.5;}

.dev{background:#fff; color:#000; font-family:times,serif; font-size:1.5em;}
.dev h1{margin-top:2em; line-height:100%;} .dev h2{margin:1.5em 0 .5em -6.25%;}
.dev section{margin:1.5em 0 0 12.5%;}
.dev blockquote{font-style:italic; margin-bottom:1em;}
.dev img{display:inline; pointer-events:auto;}
.dev hr{height:initial; border:1px inset; margin:1em 0 0; opacity:.5;}
.dev ul{font-size:.75em; line-height:1.35em;} .dev main a{color:#000; text-decoration:none; border-bottom:1px solid #b7b7b7;} .dev main a:hover,.dev main a:focus{color:#00cc00; border-color:#efefef;}
.dev footer{font-size:.5em; text-align:right; opacity:.25;}

.dev article h2{margin:1em 0 0; font-size:inherit;}
.dev article ul{margin-left:1em; font-size:inherit;}
.dev article figure{margin:.5em auto; text-align:center;}

.scx{background:#fff; padding-top:1rem;}
.scx nav a:first-child{float:left;}
.back{padding-bottom:3rem;}

@media only screen and (min-width:640px){
	hr{height:.5rem;}
	.game h1{max-width:640px; margin:0 auto;}
	.game img{margin:5rem 0;}
	.script{margin:1.5rem auto;}
	.scene nav{padding-bottom:1rem; padding-bottom:5vw;} .scene img{margin:1rem auto; margin:5vw auto;}
	.game nav img{padding:0;}
	.blank{padding:.5rem 0;}
	.archive header,.archive main{text-align:left;}
	.dev {padding:.5rem 1rem;}
	
	.scx {padding-top:2.5rem;}
}

@media only screen and (min-width:1000px){
	.dev {padding:.5rem 0;}
	.dev article{margin-top:1em;}
	.dev article h2{position:absolute; margin: 0 0 0 -5.5em; color:#808080;}
}

@media only screen and (min-width:1296px){
	hr{height:12px;}
	.scene{padding:0;}
	.scene img{margin:3rem auto;}
	.scene nav{margin-bottom:2rem; padding-bottom:0;}
}

.wide img,.wide source{margin:0 auto; padding:0;}