<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>404/{{page.title}}</title>
		<style>ul{padding-left:1em;color:#484848;}a{text-decoration:none;color:red;}a:visited{color:#b7b7b7;}a:hover,a:focus{text-decoration:underline;color:red;}h1 a,h1 a:visited{color:inherit;}h1 a:hover,h1 a:focus{text-decoration:none;color:#b7b7b7;} body>ul{padding-left:2em;}</style>
	</head>
	<body>
		<h1>Index of <a href="{{site.url}}">404</a>/{{page.title}}</h1>
		<hr/>
		{{content}}
	</body>
</html>