---
layout: default
title: reset
pagetype: scene
css: .scene{background:#000;} .up{margin-top:-15% !important;} @media only screen and (min-width:1296px){.up {margin-top:-15rem !important;}} .void{padding:0 .75rem;} .void img{padding:0; background:#000;} .voidfall img{margin:0 auto;} .above{margin-bottom:35rem; margin-bottom:100vh;} nav{padding-top:25rem; padding-top:75vh;}
---
<figure class="wide"><picture><source media="(max-width:640px)" srcset="img/22-640.png"/><img src="img/22-full.png" alt="" class="wide"/></picture>
	<figcaption class="x"><p>Kade: “storytell— <em>h-Hey! Rudy!</em></p><p>Kade turns to the void wall; Rudy and Cyrus are walking casually into it.</p></figcaption>
</figure>
<div style="background:#fff;">
	<div class="up">{%include panel.html 0="23" x="<p>Cyrus glances back. Kade is baffled. Cyrus just turns away with a wave, much to Kade’s shock.</p>"%}
	</div>
	{%include panel.html 0="24" x="<p>Kade gestures wordlessly towards the wall.</p>"%}
	{%include panel.html 0="25" x="<p>To Kade’s annoyance, Valerie runs right past, excited.</p>"%}
	<div class="void above">{%include panel.html 0="26" x="<p>Kade glares at the laptop, uncertain. Then Val hooks her arm around Kade’s…</p>"%}</div>
	<figure class="voidfall"><picture><source media="(min-width:640px)" srcset="img/27-1-1280.png" alt=""/><img src="img/27-1-640.png" alt=""/></picture></figure>
</div>
<div class="voidfall">{%include panel.html 0="27-2" x="<p>…and jumps right down the void, taking the others with her.</p>"%}</div>
{%include nav.html next="4" color="w"%}